@charset "UTF-8";
/* Colors
---------------------------------*/
/* Pattern
---------------------------------*/
/* Breakpoint
---------------------------------*/
/* Input size
---------------------------------*/
/* Font size
---------------------------------*/
.k-input[data-theme=field][data-type=embed] .k-input-icon {
  width: auto;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status {
  margin-right: 3px;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-loading {
  display: inline-block;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-loading .loader {
  display: inline-block;
  overflow: hidden;
  height: 1.3em;
  margin-top: -0.3em;
  line-height: 1.5em;
  font-size: 1rem;
  vertical-align: text-bottom;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-loading .loader::after {
  content: "⠋\a⠙\a⠹\a⠸\a⠼\a⠴\a⠦\a⠧\a⠇\a⠏";
  display: inline-table;
  white-space: pre;
  text-align: left;
  -webkit-animation: spin10 0.8s steps(10) infinite;
          animation: spin10 0.8s steps(10) infinite;
}
@-webkit-keyframes spin10 {
to {
    -webkit-transform: translateY(-15em);
            transform: translateY(-15em);
}
}
@keyframes spin10 {
to {
    -webkit-transform: translateY(-15em);
            transform: translateY(-15em);
}
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-synced, .k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-failed {
  font-size: 0.8rem;
  padding: 3px 5px 3px 6px;
  display: inline-block;
  border-radius: 3px;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-synced {
  background: #b9ca88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-synced .checkmark {
  position: relative;
  width: 20px;
  height: 20px;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-synced .checkmark:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 7px;
  width: 9px;
  height: 6px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: none;
  border: solid black;
  border-width: 0 0 1px 1px;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-failed {
  background: #ffced3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-failed .cross {
  position: relative;
  width: 20px;
  height: 20px;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-failed .cross:before, .k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-failed .cross:after {
  content: "";
  position: absolute;
  left: 11px;
  top: 5px;
  height: 10px;
  width: 1px;
  background-color: black;
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-failed .cross:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.k-input[data-theme=field][data-type=embed] .k-input-icon .k-embed-infos .k-embed-status-failed .cross:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.k-input[data-theme=field][data-type=embed] .k-input-icon-button {
  width: 2.5em;
}
.preview {
  position: relative;
  margin-bottom: 0.5rem;
}
.preview-content {
  padding: 1rem;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview-content iframe {
  max-width: 100% !important;
}
.preview-content img {
  width: auto !important;
  height: 30vh !important;
}
.preview-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: #efefef url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXR0ZXJuIGlkPSJhIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiPjxwYXRoIGZpbGw9InJnYmEoMCwgMCwgMCwgMC4yKSIgZD0iTTAgMGgxMHYxMEgwem0xMCAxMGgxMHYxMEgxMHoiLz48L3BhdHRlcm4+PHJlY3QgZmlsbD0idXJsKCNhKSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg==");
  opacity: 0.45;
}
.preview[data-provider=youtube] .preview-content, .preview[data-provider=vimeo] .preview-content {
  padding: 0;
}
.preview[data-provider=youtube] .preview-content iframe, .preview[data-provider=vimeo] .preview-content iframe {
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
}
.k-embed-field-preview-icon {
  background: #b9ca88;
  width: 18px;
  height: 18px;
  line-height: 18px;
  border-radius: 50%;
  display: inline-block;
  font-size: 0.75em;
  margin-left: 0.5em;
  text-align: center;
}